python-telegram-bot

        from flask import Flask, request
import requests

TOKEN = "8311716950:AAG2TUzuSXyVJiL1VMuDyjTv5NU-mohhIUE"
URL = f"https://api.telegram.org/bot{TOKEN}"

app = Flask(__name__)

keyboard = {
    "inline_keyboard": [
        [
            {
                "text": "📢 Join Telegram",
                "url": "https://t.me/bgwealthsharinglimited"
            }
        ],
        [
            {
                "text": "▶️ YouTube Channel",
                "url": "https://youtube.com/@bgwealthsharinglimitedofficial?si=TE4ZNzByHPNuoity"
            }
        ]
    ]
}

def send_message(chat_id, text):
    requests.post(
        f"{URL}/sendMessage",
        json={
            "chat_id": chat_id,
            "text": text,
            "reply_markup": keyboard
        }
    )

@app.route("/", methods=["POST"])
def webhook():
    data = request.json

    if "message" in data:
        chat_id = data["message"]["chat"]["id"]
        text = data["message"].get("text")

        if text == "/start":
            send_message(
                chat_id,
                "🚀 Welcome to BG Bot!\n\n👉 Join our community & watch updates:"
            )

    return "ok"